.about {
  &__desc {
    margin: 0;
    margin-bottom: 60px;
    max-width: 891px;
    color: var(--dark-color);
    font-size: 30px;
    line-height: 160%;

    &-highlight {
      font-weight: 600;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;

    @include mobile {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    grid-column: 3 span;

    @include high-desktop {
      grid-column: 6 span;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__digit {
    color: var(--accent-color);
    font-size: 70px;
    font-weight: 600;
    line-height: 160%;
  }

  &__text {
    margin: 0;
    color: var(--text-color);
    font-size: 18px;
    line-height: 160%;
  }
}
