.nav {
  &__list {
    @include flex-v-center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    color: var(--light-color);
    text-align: center;
    font-size: 20px;
    line-height: 160%;
  }
}
